/node_modules
/public/hot
/public/storage
/public/images/*.jpg
/public/images/*.jpeg
/public/images/*.png
/public/images/*.gif
/public/images/*.svg
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
google_credentials.json
/storage/*.index