/* font-family: 'Abel', sans-serif;
font-family: 'Indie Flower', cursive; 
font-family: 'Courgette', cursive;*/

body{
    font-family: 'Abel', sans-serif;
    background: linear-gradient(to right top, #ffffff, #fdffff, #f9ffff, #f8fffc, #fcfff6);
    background-repeat: no-repeat;
    background-size: cover;
}

span.iconNav{
    font-family: 'Indie Flower', cursive;
    font-size: 46px;
    margin-left: 5px;
}

span{
  color: rgb(74, 74, 74);
}
  
h1, h2, h3, h4, h5, h6{
    font-family: 'Courgette', cursive;
}

.my-nav{
  background-image: linear-gradient(to left top,#cfffd4, #b0f1bb, #8fe2a2, #6bd48b,  #3ec574);    
}

.my-btn{
    background: radial-gradient(circle, rgba(216,0,255,0.9822303921568627) 0%, rgba(255,24,232,0.923406862745098) 31%, rgba(252,57,243,0.8729866946778712) 56%, rgba(189,16,224,0.9822303921568627) 67%);
    border-radius: 1000px;
    padding: 12px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

.my-btn:hover{
  background-color: #ff00cc74;
  color: violet;
}

.my-link{
    text-decoration: none;
    color: rgb(43, 43, 43);
  }
.my-li{
  list-style-type: none;

}

a.my-logo{
    text-decoration: none;
    color: rgb(255, 153, 0);
    font-family: 'Indie Flower', cursive;
    font-size: 26px;
}

.my-iconsize{
  font-size: 26px;
}

.my-flags{
  background-color: transparent;
  border: transparent;
}


.my-link:hover{
    color: #2d6811;
}

.my-drop{
  color: black;
}

.my-a{
  text-decoration: none;
  color: rgb(43, 43, 43); 
}

.my-small{
  font-size: 12px;
}

/* Categories CSS */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
  }
  .transition {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }

  .div-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .div-img .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    -webkit-transform: 0px 0px 1;
    -moz-transform: 0px 0px 1;
    -ms-transform: 0px 0px 1;
    -o-transform: 0px 0px 1;
    transform: 0px 0px 1;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img .text {
    font-family: 'Open Sans';
    position: relative;
    z-index: -1;
    display: block;
    bottom: 25px;
    width: 100%;
    text-align: center;
    -webkit-transform: 0px 0px 1;
    -moz-transform: 0px 0px 1;
    -ms-transform: 0px 0px 1;
    -o-transform: 0px 0px 1;
    transform: 0px 0px 1;
    transform: translate(0px, 0px) scale(0.5);
    -webkit-transform: translate(0px, 0px) scale(0.5);
    -moz-transform: translate(0px, 0px) scale(0.5);
    -o-transform: translate(0px, 0px) scale(0.5);
    -ms-transform: translate(0px, 0px) scale(0.5);
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img:hover .img {
    -webkit-transform: 0px -30px 0.5;
    -moz-transform: 0px -30px 0.5;
    -ms-transform: 0px -30px 0.5;
    -o-transform: 0px -30px 0.5;
    transform: 0px -30px 0.5;
    transform: translate(0px, -30px) scale(0.5);
    -webkit-transform: translate(0px, -30px) scale(0.5);
    -moz-transform: translate(0px, -30px) scale(0.5);
    -o-transform: translate(0px, -30px) scale(0.5);
    -ms-transform: translate(0px, -30px) scale(0.5);
    border-radius: 50%;
  }
  .div-img:hover .text {
    -webkit-transform: 0px 0px 2;
    -moz-transform: 0px 0px 2;
    -ms-transform: 0px 0px 2;
    -o-transform: 0px 0px 2;
    transform: 0px 0px 2;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
  }

  @mixin clearfix() { &::after { display: block; clear: both; content: ""; } };

  .element { @include clearfix; };

  .mask-custom {
    backdrop-filter: blur(9px);
    background-color: rgba(255, 255, 255, 0.45);
  }

  .mask-custom2 {
    backdrop-filter: blur(9px);
    background-color: rgba(125, 125, 125, 0.45);
  }



  .my-btnFlags:hover{
    opacity: 0.5;
    bottom: 5px;
    transition: 1, 1;
  }
  